GH_SYSTEM_ID=dev
GH_MQTT_HOST=127.0.0.1
GH_MQTT_PORT=1883
GH_MQTT_USERNAME=
GH_MQTT_PASSWORD=
GH_MQTT_TLS=false
GH_MQTT_CA_FILE=
GH_MQTT_CLIENT_ID=greenhouse-manager
GH_STALE_AFTER_S=180
GH_DEDUP_CAPACITY=4096
GH_LOG_LEVEL=INFO
